@charset "utf-8";

:root{
    --font-family: "Pretendard Variable";
    --font-family-sub: "termina";
    --font-size: 0.833vw;
    --line-height: normal;
    --color-black: #0F0F0F;
    --color-white: #FFFFFF;
    --color-gray: #B0B0B0;
    --color-navy: #2E3192;
    --color-primary: #2E3192;
    --color-primary-invert: #FFFFFF;
    --color-secondary: #2BD9FF;
    --color-border: #C4C4C4;
    --color-text: #0F0F0F;
    --color-text-sub: #5C5C5C;
    --color-text-fill: rgba(15, 15, 15, 0.1);
    --color-background: #FFFFFF;
}

:root[data-theme="dark"] {
    --color-primary: #FFFFFF;
    --color-primary-invert: #2E3192;
    --color-text: #FFFFFF;
    --color-text-sub: #FFFFFF;
    --color-text-fill: rgba(255, 255, 255, 0.1);
    --color-background: #0F0F0F;
}